// --- Mixins ---

@mixin setSize($width, $height) {
    width: $width;
    height: $height;
}

@mixin setBorder() {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: 3px 3px 3px 3px;
}

// --- Style ---

* {
    box-sizing: border-box;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.title {
    text-align: center;
    display: block;
    font-size: 1.8rem;
}

.main_header {
    display: flex;
    flex-direction: row;

    img {
        @include setSize(250px, 90px);
    }

    &_playerinfo {
        margin: 0 0 0 1rem;
        align-content: center;

        li {
            display: inline;
            margin: 0 5px 0 0;
        }
    }
}

.stats {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 0;
    //background-color: gray;
    font-size: 2rem;

    &_atributes {
        @include setBorder();
        padding: 1% 4% 2% 4%;
        display: flex;
        flex-direction: column;
        width: 40vw;

        &_lists {
            display: flex;
            justify-content: center;

            &_char {
                padding: 0 0 0 0;
                margin: 0 0 0 0;
                //background-color: rgb(203, 95, 95);
                width: 20vw;

                li {
                    @include setSize(250px, 50px);
                    margin: 0 0 0 0;
                    padding: 0 01.57rem 0 0;
                    align-content: center;
                    text-align: right;

                    p {
                        display: inline;
                    }
                }
            }
        }
    }

    &_encnspeed {
        @include setBorder();
        display: flex;
        flex-direction: column;
        width: 50vw;
        text-align: center;

        &_cont {
            text-align: left;

            &_table2 {
                margin: 3% 1% 3% 1%;

                &_b {
                    font-size: 1rem;

                    &_r {

                        &_text {
                            width: fit-content;
                        }

                        &_score {
                            width: 30px;
                            text-decoration: underline;
                        }

                    }
                }
            }

            &_table {
                @include setBorder();
                width: 90%;
                margin: 1% 1% 1% 5%;
                padding: 1% 1% 1% 1%;
                //background-color: red;

                &_h {
                    font-size: 1.2rem;
                }

                &_b {
                    font-size: 0.8rem;

                    &_r {

                        &_score {
                            width: 60px;
                            text-decoration: underline;
                        }

                    }
                }
            }
        }
    }
}

.box_number_table {
    display: inline;
    text-align: center;
    font-size: .8rem;
    @include setSize(45px, 25px);
    vertical-align: middle;
}

.box_number {
    display: inline;
    text-align: center;
    font-size: 25px;
    @include setSize(70px, 50px);
    vertical-align: middle;
}



.box_text_long {
    display: inline;
    @include setSize(300px, 25px);
}

.point_container {
    display: inline;
    @include setSize(50px, 30px);
    text-align: center;
    font-size: 18px;
    border-color: white;
    border: 0px;
    border-left: black;
    border-right: black;
    border-style: dashed;
    vertical-align: middle;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h1 {
    color: black;
}

li {
    list-style-type: none;
}