// --- Mixins ---

@mixin setSize($width, $height) {
    width: $width;
    height: $height;
}

* {
    box-sizing: border-box;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.title {
    text-align: center;
    display: block;
    font-size: 1.8rem;
}

.main_header {
    display: flex;
    flex-direction: row;

    img {
        @include setSize(250px, 90px);
    }

    &_playerinfo {
        margin: 0 0 0 1rem;
        align-content: center;

        li {
            display: inline;
            margin: 0 5px 0 0;
        }
    }
}

.stats {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 0;
    background-color: gray;
    font-size: 2rem;

    &_atributes {
        background-color: red;
        display: flex;
        flex-direction: column;
        width: 40vw;

        &_lists {
            display: flex;
            justify-content: center;

            &_char {
                padding: 0 0 0 0;
                margin: 0 0 0 0;
                background-color: rgb(203, 95, 95);
                width: 15vw;

                li {
                    @include setSize(250px, 50px);
                    margin: 0 0 0 0;
                    padding: 0 01.57rem 0 0;
                    align-content: center;
                    text-align: right;

                    p {
                        display: inline;
                    }
                }
            }
        }
    }

    &_encnspeed {
        background-color: blue;
        display: flex;
        flex-direction: column;
        width: 40vw;
        text-align: center;
    }
}

.box_number {
    display: inline;
    text-align: center;
    font-size: 25px;
    @include setSize(70px, 50px);
    vertical-align: middle;
}

.box_text_long {
    display: inline;
    @include setSize(300px, 25px);
}

.point_container {
    display: inline;
    @include setSize(50px, 30px);
    text-align: center;
    font-size: 18px;
    border-color: white;
    border: 0px;
    border-left: black;
    border-right: black;
    border-style: dashed;
    vertical-align: middle;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h1 {
    color: black;
}

li {
    list-style-type: none;
}
